.example-text-area-container{
    width: max-content;
    margin-left: 60px;
    /* background-color:aqua */
}
.example-text{
    /* background-color:beige; */
    /* display: flexbox; */
}

.text-field-main{
    /* width: 70%; */
    width: 1350px;
    height: 230px;
    background-color:rgba(206, 204, 206, 0.199);
    margin-left: 15%;
    margin-top: 25px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.title-example{
    margin-left: 590px;
    font-family: 'Roboto', sans-serif, Light 300;
}
.text-area-example{
    width: 1200px;
    /* width: 97rem; */
    height: 170px;
    justify-content: center;
    background-color:#464646;
 
    /* box-shadow: 1px 1px 30px 1px rgba(243, 35, 3, 0.849) inset; */

    border-radius: 4px;
    resize:none;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    border: none;
    /* border-color: #464646; */
    outline:none;
    color: whitesmoke;
    font-size: 25px;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Roboto', sans-serif;
}
.text-area-example::-webkit-scrollbar {
    width: 10px;
    background-color:rgba(206, 204, 206, 0.199);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .text-area-example::-webkit-scrollbar-thumb {
    background-color:rgba(206, 204, 206, 0.199);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }


.example-line{
    margin-bottom: 30px;
    margin-left: 15%;
    /* width: 70%; */
    width: 1350px;
    /* width: 1300px; */
    height: 10px;
    /* background: linear-gradient(to  right,rgb(1, 214, 252), blue,rgb(255, 0, 242), pink,pink,rgb(255, 0, 242),blue,rgb(1, 214, 252)); */
    background: rgba(206, 204, 206, 0.199);
    border-bottom: 3px solid #C073D2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.text-count{
    text-align: center;
    font-size: 25px;
    color:aliceblue;
    /* font-family: 'Rockstar', sans-serif;  */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.anime-error{
    margin-left: 110px;
    margin-top: 50px;
    width : 200px;
    height: 300px;
    display : block;
    position : fixed;
    -webkit-animation: anime 1.2s ; 
    animation: anime 1.2s ;
}
@keyframes anime {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.table td {
    /* background-color:blue; */
    vertical-align: bottom;
}


.stub{
    width: 40px;
    height: 40px;
    background-color:#464646
}

.donation-modal{
/* 
    margin-top: 200px;
    margin-left: 350px; */
    width: 0;
    height: 0;
    background-color:aquamarine;
}
.field{
    display:flex;
    flex-direction:row;
    /* justify-content: space-between; */

}