.alerts{
    
    margin-right: 10px;
    /* width: 45%; */
    width: 810px;
    height: 420px;
    background-color:rgba(206, 204, 206, 0.199);
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-top: 2px solid #ad79fa;
    border-radius: 10px;
    overflow-y: scroll;
}

.alerts-title{
    /* margin-left: 16%; */
    margin-left: 360px;
    /* text-align: center; */

    font-family: 'Roboto', sans-serif;
    height: 40px;
    font-size: 30px;
    font-weight: 900;
    color:#ad79fa;
    letter-spacing: 2px;

  }
  /* .alerts::-webkit-scrollbar {
      width: 10px;
      background-color:rgba(206, 204, 206, 0.199);
      border-bottom-right-radius: 10px;
    }
    .alerts::-webkit-scrollbar-thumb {
      background-color:rgba(206, 204, 206, 0.199);
      border-bottom-right-radius: 10px;
    } */
    .alerts::-webkit-scrollbar {
      width: 10px;
      background-color:rgba(206, 204, 206, 0.199);
      border-top-right-radius: 15px;
      /* border-top-left-radius: 10px; */
      border-bottom-right-radius: 10px;
    }
  .alerts::-webkit-scrollbar-thumb {
      background-color:rgba(206, 204, 206, 0.199);
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
  
  /* .alerts-line{
    margin-right: 10px;
    height: 10px; */

    /* width: 45%; */
    /* background: linear-gradient(to  left,rgb(1, 214, 252), blue,rgb(255, 0, 242), pink); */

    /* background: rgba(206, 204, 206, 0.199);
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-top: 2px solid #ad79fa; */

    /* border-top: solid;
    border-width: 4px;
    border-image: linear-gradient(to right, #AD79FA,	#9073BB,	#5927A3,	#C29BFD,	#D2B5FD) 1; */
  /* } */

  .alertsName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px ;
    margin-left: 15px;
    cursor: pointer;
    width: max-content;
    height: max-content;
    -webkit-transition: .5s ease; 
    -moz-transition: .5s ease; 
    -o-transition: .5s ease;
  }
  .collum-container{
    display: flex;
  }
  .collum-one{
    width: 30%;
    margin-left: 3%;
    /* background-color:red; */
  }
  .alertsName:hover {
    font-size: 27px;
    letter-spacing: 4px;
    transition: .2s; 
    text-align: center; 
    text-shadow:0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white;
  }

  .collum-two{
    width: 30%;
    margin-left: 3%;
  }
  .collum-three{
    width: 30%;
    margin-left: 3%;
  }

  .wrapper-title-search{
  display: flex;
  }
  .search-panel-img{
    margin-left: 20px;
    margin-top: 8px;
    width: 22px;
    height: 22px;
  }
  .search-panel-input{
    margin-left: 2px;
    margin-top: 3px;
    height: 30px;
    background-color:#242424;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color:#777777;
  }
  .search-panel-input::placeholder{
    font-size: 13px;
    color:#4e4e4e;
  }
