
.container-app{
    display: flex;
}

.Voices-Com{
    margin-left: 10px;
    width: 45%;
}
.Alerts-Com{
    width: 45%;

}

.app-example{
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
}

.anime-note{
    display : block;
    position : fixed;
    width: 320px;
    height: 160px;
    cursor: pointer;
}
.anime-note-hide{
    display : block;
    position : fixed;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: 2s;
}
