
.container-app{
    display: flex;
    /* justify-content: center; */
    margin-left: 30px;
}

.Voices-Com{
    margin-left: 10px;
    /* width: 45%; */
}
.Alerts-Com{
    /* width: 45%; */

}

.app-example{
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
}

.anime-note{
    display : block;
    position : fixed;
    width: 320px;
    height: 160px;
    cursor: pointer;
}
.anime-note-hide{
    display : block;
    position : fixed;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: 2s;
}

/* .modal-slider{

} */