.voices{
    margin-left: 10px;
    height: 460px;
    background-color:rgba(206, 204, 206, 0.199);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: scroll;
}

.voices-title{

  text-align: center;
  font-family: 'Anton', sans-serif;
  height: 40px;
  font-size: 30px;
  font-weight: 900;
  color:azure;
  letter-spacing: 2px;
}
.voices::-webkit-scrollbar {
    width: 10px;
    background-color:rgba(206, 204, 206, 0.199);
    border-bottom-right-radius: 10px;
  }
  .voices::-webkit-scrollbar-thumb {
    background-color:rgba(206, 204, 206, 0.199);
    border-bottom-right-radius: 10px;
  }

.voices-line{
  margin-left: 10px;
  height: 10px;
  background: linear-gradient(to  right,rgb(1, 214, 252), blue,rgb(255, 0, 242), pink);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name{
    margin-left: 25px;
    margin-top: 8px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    width: max-content;
    height: 35px;
    padding-bottom: 0px;
    height: auto;
    -webkit-transition: .9s ease; /* Safari and Chrome */
    -moz-transition: .9s ease; /* Firefox 4 */
    -o-transition: .9s ease;
}
.name:hover{
  font-size: 25px;
  letter-spacing: 4px;
  transition: .3s; 
  text-align: center; 
  text-shadow:0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white;;
}

.badge{
  height: 20px;
  width: 20px;
}

.nameVoices{
  margin-left: 25px;

  width:5px;
  height: 25px;
  background-color: #D36DA9 ;
  transition: .3s; 
}
.nameVoices:hover{
  margin-left: 25px;
  width: 9px;
  background-color: #ca3e90 ;
  transition: .3s; 
}



.alternativeShow{
  color:black;
  background-color:#a970ff;
  width: max-content;
  text-align: center;
  font-size: 17px;
}

.next{
  margin-left: 10px;
  width: 18px;
  height: 18px;
  padding: 0%;
}

.imgNext{
  display: inline-block;
  width: 50px;
  height: 10px;
  background-color:pink;
}

.dropdown-inline{
    width: max-content;
    height: max-content;
    margin-left: 17rem;
}

.blocked-style{
  color: #777777;
  filter: blur(2px);
  margin-left: 25px;
  margin-top: 8px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  width: max-content;
  height: 35px;
  padding-bottom: 0px;
  height: auto;
}

.nameVoices-blocked{
  filter: blur(1px);
  margin-left: 25px;
  width:5px;
  height: 25px;
  background-color: #777777 ;
  transition: .3s; 
}
.nameVoices-blocked:hover{
  margin-left: 25px;
  width: 9px;
  background-color: #5f5e5e ;
  transition: .3s; 
}