


.isDropdown-title{
    height: 55px;
    background-color:#242424;
    color: #777777;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .isDropdown-title-name{
    font-size: 20px;
    color: white;
  }

  .line-eachAlt{
    margin-top: 0px;
    height: 7px;
    background: linear-gradient(to  right,rgb(1, 214, 252), blue,rgb(255, 0, 242), pink);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .container{
    text-align: center;
    width: 300px;
    -webkit-animation: opacity 1.2s ; 
    animation: opacity 1.2s ;
  }
  @keyframes opacity {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  .container-border{
    border: solid #242424 2px;
    border-bottom: none;
  }

  .iconDropFalse{
    transition: .9s;
    margin-left: 140px;
  }

  .iconDropTrue{
    -webkit-animation: dropOFF .9s ; 
    animation: dropOFF .9s ;
}
  @keyframes dropOFF {
    0%{
        margin-left: 140px;
    }
    100% {
        margin-left: 0px;
    }
  }

  .eachAlt {
    margin-top: 2px;
    height: 30px;
    cursor: pointer;
    color: black;
    font-size: 20px;
  }
  .eachAlt:hover{
    background-color:#242424;
    color:azure;
    text-shadow: 0 0 10px rgb(1, 214, 252),0 0 20px  blue,0 0 30px rgb(255, 0, 242),0 0 40px pink;
    letter-spacing: 3px;
    transition: .3s; 
  }
