

.copy-text{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.copy-text:hover{
    background-color:#363636;
}
.copy-text-icon{
    margin-left: 6px;
    margin-top: 5px;
    /* margin-bottom: 10px; */
    /* width: 30px;
    height: 30px; */
}

