
.example-modal-container{
    position: relative;
    margin-left: 45px;
    /* position: absolute; */
    width: 73px;
    height: 73px;
    border-radius: 5px;
    background: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background: linear-gradient(to  right, #D36DA9,#a970ff); */
    box-shadow: -1px -1px 1px #D36DA9,1px 1px 1px #a970ff; 
    transition: all .3s;
}
.example-modal-container:hover{
    box-shadow: -1px -2px 2px #a970ff,1px 2px 2px  #D36DA9; 
}

/* .example-modal-container::before{ */
    /* content: ''; */
    /* position:absolute;
    width: 120px;
    height: 120px; */
    /* background: linear-gradient(to  right, #D36DA9,#a970ff); */

    /* background-image: conic-gradient(transparent,transparent,rgb(1, 214, 252),blue,rgb(255, 0, 242),pink);
    animation: animate 20s linear infinite; */
/* } */

/* @keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
} */

.example-modal-content{
    position: absolute;
    border-radius:5px;
    margin: 2px;
    width: 70px;
    height: 70px;
    background-color: #323232;
    cursor: pointer;
}

.example-modal-guide{
    text-align: center;
    margin-left: auto;
    margin-top: 9px;
    color:#afafaf;
    font-family: 'Roboto', sans-serif;
}

.modal-modal-container{
    display: flex;
}
.example-modal-modal-instruction{

    width: 300px;
    height: 500px;
    /* background-color:red; */
}
.example-modal-modal-video{
    margin-left: 120px;
}

.example-modal-modal-instruction-title{
    width: 350px;
    height: 40px;
    background-color: #464646;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.example-modal-modal-instruction-text{
    margin-left: 10px;
    color:white;
    font-size: 26px;
}
.example-modal-modal-instruction-discripction{
    margin-left: 6px;
 color:rgb(204, 201, 201);
 font-family: 'Roboto', sans-serif;
 font-size: 15px;
 width: 340px;
}
.example-modal-modal-instruction-discripction-example-title{
    color:rgb(255, 250, 250);
    margin-left: 6px;
    font-style: italic;
}
.example-modal-modal-instruction-discripction-example-description{
    margin-left: 6px;
    font-size: 13px;
    font-style: italic;
}